{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block app_content %}
<a href="../invoices">
    <button class="btn btn-primary"> < Назад</button>
</a>
<br><br>

<div class="row">
    <div class="col col-sm-3">
        <div class="card">
            <div class="card-header">
                Информация о счете
            </div>
            <div class="card-body">
                {{ macros.info_table(['Дата', 'Клиент', 'Статус'], invoice) }}
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Список вещей
            </div>
            <div class="card-body">
                {% if invoice[3] != 'Сборка' %}
                    {{ macros.table('invoices/'+invoice[0]|string, ['Название', 'Количество'], wear, actions=False)}}
                {% else %}
                    {{ macros.table('invoices/'+invoice[0]|string, ['Название', 'Количество'], wear, actionsStorekeeper=True)}}
                {% endif %}
            </div>
        </div>
    </div>

    {% if session.role >= 1 %}
    <div class="col col-sm-3">
        <div class="card">
            <div class="card-header">
                Изменить статус
            </div>
            <div class="card-body">
                {{ wtf.render_form(status_form, button_style='secondary') }}
            </div>
        </div>
        <br>
        {% if invoice[4] == 1 %}
        <div class="card">
            <div class="card-header">
                Добавить одежду
            </div>
            <div class="card-body">
                {{ wtf.render_form(form, button_style='secondary', action='/invoices/'+invoice[0]|string+'/add') }}
            </div>
        </div>
        <br>

        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}